*{
    margin: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: #030328;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9vh;
    background-color: rgb(44, 44, 48) !important;
    position: fixed;
    opacity: 0.7;
    margin-top: -110px;
}

.cabecalho button {
    border-radius: 40px;
    background-color: rgb(181, 53, 246)!important;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    height: 5vh;
    width: 10vw;
    font-family: 'friends1';
    letter-spacing: 2px;
    font-size: 16px;
    margin-top:9px;
}


.cabecalho a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-right: 30px;
    letter-spacing: 2px;
    background-color: rgb(44, 44, 48) !important;
    font-family: 'friends1';
    font-size: 16px;
    opacity: none;
}

.cabecalho img{ 
    background-color: rgb(44, 44, 48) !important;
    width: 200px;
    height: 40px;
    margin-left: 10px;
    margin-top: 15px;
}

.cabecalho2 {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px;

}

.secao-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.s1-h1 {
    display: flex;
    width: 75vw;
    font-size: 1.5em;
   align-items: start;
   color: #ffff;
   font-family: 'friends3';
   font-weight: 100;
   margin-bottom: 5px;
}

.secao-01 img{
    margin-bottom: 50px;
}

.secao-02 {
    width: 100%;
    height: 18vh;
    background-image: url("../assets/images/gradient2.jpg");
    background-position: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 70px;
    padding: 10px;
}



.s2-h {
    font-size: 1.70rem;
    width: 50vw;
    font-family: 'friends3';
    font-weight:lighter;
}


.s2-b button
{
    border-radius: 50px;
    height: 60px;
    width: 250px;
    background-color: rgb(181, 53, 246);
    color: white;
    font-family: 'friends1';
    letter-spacing: 4px;
    border: 2px solid transparent;
    font-size: 1.25rem;
}

.secao-03 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 100px;
}

.s3-p1 {
    width: 40vw;
    font-size: 1.60rem;
    font-family:'friends3' ;
    line-height: 40px;
    color:#ffff;
}


.s3-p2 {
    width: 40vw;
    font-size: 1.62rem;
    font-family:'friends3' ;
    line-height: 40px;
    color:#ffff;
}

.secao-04{
    display:flex;
    flex-direction: column;
}

.s4-cima{
    margin: 10px 95px;
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
}

.s4-cima >  h1{
    color: #ffff;
    font-family: 'friends2';
    font-weight: lighter;
    font-size: 2.50rem;
    letter-spacing: 2px;
}

.s4-cima > button{
    font-family: 'friends6';
    background-color: transparent;
    border: none;
    color: #9e86ff;
    font-size: 1.50rem;
    opacity: 0.7;
    letter-spacing: 2px;
}

.s4-1linha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 60px;
}

.s4-episodio{
    width: 20vw;
    display: flex;
    flex-direction: column;
    color: #ffff;
    
}

.s4-episodio > h2{
    font-family: 'friends7';
    font-weight: lighter;
    margin-bottom: 9px;
    margin-top: 16px;
}

.s4-episodio > p{
    font-family: 'friends3';
    font-weight:100;
}

.s4-episodio > a{
    text-decoration: none;
    color: #9e86ff;
    font-family: 'friends3';
    letter-spacing: 1px;
    margin-top:7px ;
}

.section05{
    width: 100%;
    display: flex;
   align-items: center;
    padding-top: 10px;
    flex-direction:column;
    background-color: #030328;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .texto1{
    font-size: 20px;
    font-family:'friends3' ;
    line-height: 23px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align:start;
    color: #ffffff !important;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: -20px;
  }
  
  .cards1{
    height: 30vh;
    width: 80vw;
    padding-top: 10px;
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    gap: 15px;
    justify-content:center;
  }
  
  .imagem01{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  
  .imagem02{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  
  .imagem03{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  
  .imagem04{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  .imagem05{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  
  .imagem06{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  
  .imagem07{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  
  .imagem08{
    width: 20vw;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  
  .cards2{
    height: 30vh;
    width: 80vw;
    padding-top: 10px;
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    gap: 15px;
    justify-content:center;
  }
  .cards3{
    height: 30vh;
    width: 80vw;
    padding-top: 10px;
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    gap: 15px;
    justify-content:center;
  }

.nomedofilme{
    height: 50vh;
    width: 50vw;
    color: #ffffff;
    font-size: 0.90rem;
    font-family: 'friends3';
    font-weight: lighter;
}


.menu-superior{
  padding: 0px 150px 0px 150px;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 19px;
  font-family: 'friends1';
  margin-bottom:-30px ;
}

.menu-superior > a{
  text-decoration: none;
  color: #9e86ff;
  opacity: 0.7;
}

.menu{
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 19px;
  font-family: 'friends8';
  
}

.menu > a{
    text-decoration: none;
    color: #9e86ff;
    opacity: 0.7;
}

.direitosaut{
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 18px;
  font-family: 'friends8';
}

.direitosaut{
  text-decoration: none;
  color: #9e86ff;
}



