@font-face {
    font-family: 'fonte1';
    src: url(../assets/fonts/f1.woff2);
}

@font-face {
    font-family: 'fonte2';
    src: url(../assets/fonts/f2.woff2);
}

@font-face {
    font-family: 'fonte3';
    src: url(../assets/fonts/f3.woff2);
}

@font-face {
    font-family: 'fonte4';
    src: url(../assets/fonts/f4.woff2);
}

@font-face {
    font-family: 'fonte5';
    src: url(../assets/fonts/f5.woff2);
}

@font-face {
    font-family: 'fonte6';
    src: url(../assets/fonts/f6.woff2);
}

@font-face {
    font-family: 'fonte7';
    src: url(../assets/fonts/f7.woff2);
}

@font-face {
    font-family: 'fonte8';
    src: url(../assets/fonts/f8.woff2);
}

@font-face {
    font-family: 'fonte9';
    src: url(../assets/fonts/f9.woff2);
}

@font-face {
    font-family: 'fonte10';
    src: url(../assets/fonts/f10.woff2);
}

@font-face {
    font-family: 'fonte11';
    src: url(../assets/fonts/f11.woff2);
}